{{ $dict := (index .Site.Data .Site.Language.Lang).dictionary }}
{{ .Scratch.Set "dictionary" $dict }}
{{ $sass := resources.Get "sass/global.scss" }}
{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
{{ $routes := .Site.Params.routes }}

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta 
        name="viewport" 
        content="width=device-width, initial-scale=1"/>
        <meta charset="utf8"/>
        <title>{{ $dict.title }}</title>
        <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}"/>
    </head>
    <body>
        <header class="app-layout-header">
            <p class="app-layout-header-title">{{ $dict.title }}</p>
            {{/*  <div class="app-layout-header-language">
                <div class="app-layout-header-language-button">
                    Zmień język<br/>
                    Змінити мову<br/>
                    Change language
                </div>
                <div class="app-layout-header-language-list">
                    <ul class="app-list">
                        <li>
                            <a class="app-link" href="/">PL</a>
                        </li>
                        <li>
                            <a class="app-link" href="/en">EN</a>
                        </li>
                    </ul>
                </div>
            </div>  */}}
        </header>

        <nav class="app-navigation">
            <ul class="app-navigation-menu">
                {{ range $index, $element := $dict.navigationDescriptions }}
                    <li><a class="app-navigation-item" href={{ index $routes $index }}>{{$element}}</a></li>    
                {{ end }}
            </ul>
        </nav>

        <main class="app-main-section">
            {{- block "main" . }}{{- end }}
        </main>

        <footer class="app-footer-section">
            <div class="app-footer-content">
                <p>Copyleft @ 161</p>
            </div>
        </footer>
        <script src="/js/partials/list.js?nocache=true">
            console.log("list");
        </script>
    </body>
</html>
