
@import "../common.scss";
@import "../mixins.scss";

#app-content-list-cleaner{
    display: none;
}

.app-content-list-title{
    text-align: center;
}

.app-content-list-filter{
    @include center();
    @include on-screen-small{
        @include center();
        flex-direction: column;
    }
}

.app-content-list-content{
    @include center();
}

.app-content-list-container{
    & > *{
        @include border("bottom", 1px, solid, $var-color-lightbase);
        @include margin(("bottom":32px));
        @include padding(("bottom":32px));
    }
    & > *:last-child{
        border: none;
    }
}

.app-content-list-item{
}

.app-content-list-item-hidden{
    display: none;
}

.app-content-list-item-about{
    @include on-screen-large{
        @include app-horizontal-left();
    }
}

.app-content-list-item-openplace{
    @include margin(0px);
    @include padding(6px);
    @extend .app-button;
    text-decoration: none;
}

.app-content-list-item-identyfication{
    @include on-screen-large{
        @include app-horizontal-right();
    }
    display: flex;
    align-items: center;
    & table{
        border-spacing: 10px;
    }
}