
@import "../common.scss";

.app-taxonomies-list{
    // @include app-list-horizontal();
    // justify-content: flex-start;
    display: inline;
    
}

.app-taxonomy{
    font-size: $var-font-size-small;
    padding: 4px 6px;
    margin: 2px 4px;
    width: auto !important;
    justify-content: flex-start;
}