{{ $dict := .Scratch.Get "dictionary" }}

<div>
    <h1 class="app-content-list-title">{{ .Title }}</h1>
    <br />
    <div class="app-content-list-filter">
        <button id="app-content-list-cleaner" onclick="clearFilterInput()">{{$dict.buttons.clear}}</button>
        <input 
            placeholder="tytuł, miasto, kategoria, inne..." 
            type="text" 
            class="app-width-full"
            oninput="onFilterChange()"
            id="app-content-list-filter-input" />
        <button onclick="filter()">{{$dict.buttons.search}}</button>
    </div>

    <div class="app-content-list-content">
        {{ .Content }}
    </div>

    <div>
        
    </div>

    <div id="app-content-list-container" class="app-content-list-container">
        {{ range .Pages }}
            {{$pageKeywords := union (union .Params.tags .Params.categories) .Params.region | append .Title}}
            <div class="app-content-list-item" data-keywords={{jsonify $pageKeywords}}>
                <h3>{{ partial "label.html" (dict "text" $dict.taxonomies.title) }}{{.Title}}</h3>
                <a class="app-content-list-item-openplace" href={{.RelPermalink}}>{{$dict.buttons.details}}</a>
                <p>{{ partial "label.html" (dict "text" $dict.taxonomies.description) }}{{.Params.description}}</p>
                {{ partial "page-taxonomies.html" (dict "areInteractive" true "dict" $dict.taxonomies "region" .Params.region "categories" .Params.categories "tags" .Params.tags) }}            
            </div>
        {{ end }}
    </div>
</div>