{{ $dict := .Scratch.Get "dictionary" }}

<div>
    <h1 class="app-text-center">{{.Title}}</h1>
    <div class="app-center">
        {{ partial "page-taxonomies.html" (dict "areInteractive" false "dict" $dict.taxonomies "region" .Params.region "categories" .Params.categories "tags" .Params.tags) }}
    </div>
    <div class="app-text-justify">
        <p><strong>{{.Description}}</strong></p>
        <p>{{.Content}}</p>   
    </div>
</div>